.catalog__list {
  min-width: $phone-width;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    min-width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    max-width: $desktop-width;
    justify-content: flex-start;
    margin: 40px auto;
  }
}
