.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;

  &:hover {
    color: rgba($gray, 0.6);
  }

  &:active {
    color: rgba($gray, 0.3);
  }
}

.copyright__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.copyright__academy {
  text-transform: capitalize;
}

.copyright__logo {
  margin-left: 23px;
  fill: $icons-bg;

  &:hover {
    fill: rgba($button-green-hover-color, 0.6);
  }

  &:active {
    fill: rgba($button-green-hover-color, 0.3);
  }
}
