.introduction {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 305px;
    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  br {
    display: none;
  }
}

.introduction__wrapper {
  width: $phone-width;
  padding-top: 28px;
  padding-bottom: 22px;
  font-weight: 400;
  color: $white;
  text-align: center;
}

.introduction__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 28px;
}

.introduction__text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.introduction__image {
  height: 270px;
  width: 280px;
}

.introduction__button {
  display: block;
}

@media (min-width: $tablet-width) {
  .introduction {

    &::after {
      display: none;
    }

    br {
      display: block;
    }
  }

  .introduction__wrapper {
    position: relative;
    width: $tablet-width;
    padding-top: 61px;
    padding-bottom: 0px;
    color: $gray-darker;
    text-align: left;
  }

  .introduction__heading {
    margin-bottom: 33px;
    padding-left: 90px;
    font-size: 60px;
    line-height: 60px;
  }

  .introduction__text {
    margin-bottom: 20px;
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
  }

  .introduction__image {
    height: 609px;
    width: 709px;
  }

  .introduction__button {
    position: absolute;
    top: 280px;
    left: 0;
    margin-left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .introduction {
    position: relative;
    width: $desktop-width;
    min-height: 575px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -121px;
      right: 0;
      z-index: -1;
      width: 100%;
      min-height: 696px;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-position: right;
      background-repeat: no-repeat;
    }
  }

  .introduction__image {
    position: absolute;
    top: 15px;
    left: 560px;
    height: 499px;
    width: 552px;
  }

  .introduction__button {
    position: static;
    display: inline-block;
    margin-left: 90px;
  }
}
