.location__wrapper--gray {
  background-color: $gray-light;
}

.location__container {
  min-width: $phone-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
}

.location__title {
  color: $gray-darker;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.location__address {
  color: $gray;
  font-size: 14px;
  font-family: $font-secondary;
  font-weight: 400;
  line-height: 20px;
}

.location__map {
  width: 100%;
  height: 360px;
}

@media (min-width: $tablet-width) {
  .location__container {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .location__title {
    font-size: 20px;
    line-height: 25px;
  }

  .location__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper--gray {
    background-color: $white;
  }

  .location__wrapper {
    position: relative;
    max-width: $desktop-width;
    margin: 0 auto;
    padding-left: $desktop-indents;
    padding-right: $desktop-indents;
  }

  .location__container {
    position: absolute;
    z-index: 2;
    width: 44%;
    height: 201px;
    background-color: $white;
    top: 97px;
  }

  .location__title {
    padding-left: 35px;
  }

  .location__address {
    text-align: left;
    padding-right: 47px;
  }

  .location__map {
    height: 400px;
  }

}
