.main-nav {
  min-width: $phone-width;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 56px;
  height: 42px;
  cursor: pointer;
  border: none;
  background: none;
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 20px;
    width: 24px;
    height: 2px;
    background-color: $gray-darker;
    box-shadow: 0 8px 0 0 $gray-darker, 0 16px 0 0 $gray-darker;
    transition: all 0.2s ease;
  }

  &:hover::before {
    background-color: rgba($gray-darker, 0.6);
    box-shadow: 0 8px 0 0 rgba($gray-darker, 0.6), 0 16px 0 0 rgba($gray-darker, 0.6);
  }

  &:active::before {
    background-color: rgba($gray-darker, 0.3);
    box-shadow: 0 8px 0 0 rgba($gray-darker, 0.3), 0 16px 0 0 rgba($gray-darker, 0.3);
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 20px;
    right: 21px;

    width: 22px;
    height: 2px;

    background-color: $gray-darker;
    transition: all 0.2s ease;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($gray-darker, 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($gray-darker, 0.3);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: $phone-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: $desktop-width;
  }
}
