.page-header__wrapper {
  position: relative;
  min-width: $phone-width;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  margin-top: 11px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.page-header__logo-image {
  height: 39px;
  width: 191px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    min-width: $tablet-width;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    min-height: 696px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      margin-top: -40px;
      top: 0;
      right: 0;
      bottom: 0;
      left: calc(100vw - 50%);
      z-index: -1;
      background-color: $green;
      background-image: url("../../img/raster/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .page-header__wrapper {
    width: $desktop-width;
    margin: 40px auto;
  }
}
