.page-header {
  border: 1px solid red;
}

.page-header__wrapper {
  position: relative;
  width: $phone-width;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  margin-top: 11px;
  margin-bottom: 15px;
}

.page-header__logo-image {
  height: 39px;
  width: 191px;
}

@media (min-width: $tablet-width) {
  .page-header {
  }

  .page-header__wrapper {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    min-height: 696px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: calc(50% - 50vw);
      z-index: -1;
      width: 100%;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-position: right;
      background-repeat: no-repeat;
    }
  }

  .page-header__wrapper {
    width: $desktop-width;
    margin: 40px auto;
  }
}
