.page-main__heading {
  width: $phone-width;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $gray-darker;
  font-family: $font-base;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

@media (min-width: $tablet-width) {
  .page-main__heading {
    width: $tablet-width;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__heading {
    width: $desktop-width;
    margin: 40px auto;
  }
}
