.page-main__heading {
  min-width: $phone-width;
  padding: 16px 20px 7px 20px;
  box-sizing: border-box;
  color: $gray-darker;
  font-family: $font-base;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
}

.page-main__description {
  min-width: $phone-width;
  padding: 18px 20px 15px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $gray-darker;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-main__heading {
    min-width: $tablet-width;
    padding: 45px 30px;
    font-size: 60px;
  }

  .page-main__description {
    min-width: $tablet-width;
    padding: 5px 0 30px 69px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__heading {
    max-width: $desktop-width;
    padding: 18px 40px 40px 43px;
    margin: 0 auto;
  }

  .page-main__description {
    max-width: $desktop-width;
    padding: 16px 46px 25px 41px;
    margin: 0 auto;
  }
}
