.product {
  display: flex;
  flex-direction: column;
  padding: 0 20px 24px;
  box-sizing: border-box;
  border-top: 1px solid $button-gray-hover-color;
  &:last-child {
    border-bottom: 1px solid $button-gray-hover-color;
  }
}

.product__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
}

.product__link {
  display: flex;
  flex: 1 0 auto;
}

.product__picture {
  display: flex;
  justify-content: center;
  flex: 4 0 50%;
  height: auto;
}

.product__picture>picture {
  margin-left: -40px;
  margin-right: -40px;
}

.product__content {
  flex: 0 0 37%;
  min-width: 140px;
  max-width: 165px;
  z-index: 2;
}

.product__title {
  width: 100%;
  max-width: 102px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: $gray-dark;
}

.product__title-link {
  color: $gray-dark
}

.product__description {
  width: 100%;
  font-family: $font-secondary;
  color: $gray;
  border-spacing: 0;
  border-collapse: collapse;
}

.product__field {
  padding: 0;
  font-size: 12px;
  line-height: 17px;
}

.product__value {
  padding: 0;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
}

.product__order-button {
  font-size: 16px;
  padding: 12px 26px 12px 26px;
  margin: 0 auto;
  min-width: 280px;
  max-width: 480px;
  flex: 1 0 100%;
  z-index: 2;
}

.product--more {
  padding-top: 26px;
}

.product__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 37px;
}

.product__more::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 31px;
  height: 31px;
  opacity: 0.2;
  background-image: url('../img/vector/icon-plus-mobile.svg');
}

.product__more-products {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $gray-dark;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.product__slogan {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: $font-secondary;
  line-height: 18px;
}

.product__more-btn {
  text-align: center;
  font-size: 16px;
  padding: 12px 26px 12px 26px;
}

@media (min-width: $tablet-width) {
  .product {
    margin: 110px 30px 30px;
    padding: 40px 38px;
    width: 324px;
    border-top: none;
    background-color: $gray-light;
  }

  .product__info {
    flex-direction: column;
  }

  .product__link {
    height: 118px;
    width: 100%;
    padding-bottom: 33px;
    align-items: flex-end;
    box-sizing: border-box;
  }

  .product__picture>picture img {
    width: 100%;
    height: auto;
  }

  .product__content {
    align-self: stretch;
    padding-top: 2px;
    background-color: $gray-light;
    flex: 1 0 auto;
    max-width: unset;
  }

  .product__title {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    max-width: 155px;
  }

  .product__description {
    margin-top: 10px;
    margin-bottom: 33px;
  }

  .product__description tr {
    border-bottom: 1px solid $border-color-hover;
  }

  .product__field,
  .product__value {
    padding: 8px 0;
    font-size: 16px;
    line-height: 15px;
  }

  .product__order-button {
    min-width: 248px;
    flex: auto;
  }

  .product--more {
    background-color: $white;
    border: 1px solid $button-gray-hover-color;
    padding-top: 54px;
  }

  .product__more {
    text-align: center;
    padding-top: 37+52px;
  }

  .product__more::before {
    background-image: url('../img/vector/plus-tablet.svg');
    width: 60px;
    height: 60px;
  }

  .product__more-products {
    font-size: 20px;
    max-width: 170px;
    margin-bottom: 25px;
  }

  .product__slogan {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }

  .product__more-btn {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 41px 38px;
  }
  .product__order-button {
    min-width: 169px;
  }
}
