.program-form__cat-info,
.program-form__contact-data,
.program-form__comment,
.program-form__addition {
  border: none;
  padding: 0;
  margin: 0;
}

.rogram-form__details,
.program-form__comment-wrapper {

  padding-bottom: 40px;
}

.program-form__data {
  min-width: $phone-width;
  padding-top: 3px;
  padding-bottom: 38px;
}

.program-form__addition-wrapper {
  padding-top: 12px;
  padding-bottom: 32px;
}

.program-form__comment-wrapper {
  padding-top: 12px;
  padding-bottom: 33px;
}

.program-form__comment,
.program-form__addition,
.program-form__contact-data {
  border-top: 3px solid $green;
}

.program-form__cat-info {
  display: flex;
  flex-direction: column;
  padding: 21px 0;
  border-bottom: 1px solid $button-gray-hover-color;
}

.program-form__choose-program {
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0 56px 0;
  border-bottom: 1px solid $button-gray-hover-color;
}

.program-form__caption {
  min-width: $phone-width;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  margin-top: -35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: $gray-darker;
  text-align: left;

  &-text {
    padding: 0 20px;
    background-color: $white;
  }
}

// Label

.program-form__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &-addion {
    margin-bottom: 11px;
  }
}

.program-form__label-title {
  margin-right: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $gray-dark;
  text-transform: uppercase;
  white-space: nowrap;
}

.program-form__label-title--radio,
.program-form__label-title--checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &::before {
    content: "";
    width: 28px;
    height: 28px;
    margin-right: 16px;
    background-color: $white;
    border: 1px solid $button-gray-hover-color;
    transition: border-color 0.3s ease;
  }

  &:hover::before,
  &:focus::before {
    border-color: $border-color-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.program-form__label-title--radio::before {
  border-radius: 50%;
}

.program-form__radio:disabled + .program-form__label-title--radio,
.program-form__checkbox:disabled + .program-form__label-title--checkbox {
  opacity: 0.3;
  cursor: not-allowed;
}

.program-form__radio:focus + .program-form__label-title--radio::before,
.program-form__checkbox:focus + .program-form__label-title--checkbox::before {
  border-color: $border-color-hover;
}

.program-form__radio:checked + .program-form__label-title--radio::before {
  background-image: radial-gradient($green 0, $green 6px, $white 6px, $white 100%);
}

.program-form__checkbox:checked + .program-form__label-title--checkbox::before {
  background-image: url("../img/vector/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 16px;
}

// Input

.program-form__input {
  padding: 13px;
  box-sizing: border-box;
  font-family: $font-base;
  font-width: 400;
  font-size: 16px;
  line-height: 18px;
  color: $gray;
  text-transform: uppercase;
}

.program-form__icon {
  position: absolute;
  right: 15px;
  fill: $gray-dark;
  top: 50%;
  transform: translateY(-50%);
}

.program-form__input--text-field {
  flex-grow: 1;
  border: 1px solid $button-gray-hover-color;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid $border-color-hover;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: $gray;
    box-shadow: inset 0 0 0 1px $gray;
  }

  &:active:invalid,
  &:focus:invalid,
  &.invalid {
    outline: none;
    border-color: $border-color-error;
    box-shadow: inset 0 0 0 1px $border-color-error;
  }
}

.program-form__input--text-field:active + .program-form__icon,
.program-form__input--text-field:focus + .program-form__icon {
  fill: $green;
}

.program-form__input--text-field:active:invalid + .program-form__icon,
.program-form__input--text-field:focus:invalid + .program-form__icon,
.program-form__input--text-field.invalid {
  fill: $border-color-error;
}

.program-form__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.program-form__textarea {
  min-width: 100%;
  height: 150px;
  padding: 13px;
  box-sizing: border-box;
  font-family: $font-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $gray;
  text-transform: uppercase;
  border: 1px solid $border-color-hover;

  &:hover {
    border: 1px solid $border-color-hover;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: $gray;
    box-shadow: inset 0 0 0 1px $gray;
  }
}

.program-form__sent {
  min-width: $phone-width;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-form__button {
  width: 100%;
  font-size: 20px;
  margin-bottom: 16px;
}

.program-form__legend {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .program-form__details {
    padding: 16px 67px 93px 71px;
  }

  .program-form__data,
  .program-form__comment-wrapper {
    min-width: $tablet-width;
    padding: 53px 67px 85px 70px;
  }

  .program-form__cat-info {
    padding-bottom: 68px;
    border: none;
  }

  .program-form__choose-program {
    border: 1px solid $button-gray-hover-color;
    padding: 30px;
  }

  .program-form__label {
    margin-bottom: 18px;

    &--radio {
      margin-bottom: 14px;
    }
  }

  .program-form__label-title {
    margin-right: 18px;
    font-size: 20px;
    line-height: 20px;

    &--radio::before,
    &--checkbox::before {
      width: 35px;
      height: 35px;
      margin-right: 20px;
    }
  }

  .program-form__radio:checked + .program-form__label-title--radio::before {
    background-image: radial-gradient($green 0, $green 8px, $white 8px, $white 100%);
  }

  .program-form__input {
    font-size: 20px;
    line-height: 20px;
    padding: 11px 11px 11px 18px;
  }

  .program-form__textarea {
    height: 175px;
    font-size: 20px;
    padding: 17px;
  }

  .program-form__caption {
    min-width: $tablet-width;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    margin-top: -42px;

    &-text {
      padding: 0 68px;
    }

    br {
      display: none;
    }
  }

  .program-form__addition-wrapper {
    min-width: $tablet-width;
    padding-top: 34px;
    padding-left: 70px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .program-form__label-addition {
    width: 48%;
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 34px;
    }
  }

  .program-form__sent {
    min-width: $tablet-width;
    padding: 24px 71px 69px 71px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  .program-form__button {
    width: 45%;
    margin-bottom: 0;
    padding: 16px 26px 16px 26px;
  }

  .program-form__legend {
    width: 45%;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-form__details {
    max-width: $desktop-width;
    padding: 40px 33px 83px 41px;
    display: flex;
    justify-content: space-between;
  }

  .program-form__cat-info {
    width: 47%;
    padding: 0;
  }

  .program-form__choose-program {
    padding-top: 25px;
    width: 42%;
  }

  .program-form__data {
    max-width: $desktop-width;
    padding: 54px 42px 81px 41px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .program-form__addition-wrapper {
    padding: 40px 0 21px 0;
    justify-content: space-around;
    max-width: $desktop-width;
  }

  .program-form__sent {
    max-width: $desktop-width;
    padding: 40px 48px 80px 48px;
  }

  .program-form__comment-wrapper {
    max-width: $desktop-width;
    padding: 57px 38px 80px 40px;
  }

  .program-form__caption {
    max-width: $desktop-width;
    margin-top: -39px;

    &-text {
      padding: 0 39px;
    }
  }

  .program-form__label--data {
    width: 47%;
    margin-bottom: 0;
  }

  .program-form__label-addition {
    margin-bottom: 0;
    width: 19%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .program-form__button {
    width: 47%;
  }

  .program-form__legend {
    width: 47%;
  }
}
