.program__wrapper {
  min-width: $phone-width;
  margin-top: 22px;
  margin-bottom: 20px;
}

.program__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.program__item {
  position: relative;
  background-color: $gray-light;
  margin-bottom: 20px;
  padding: 24px 20px 18px 20px;

  &last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
  }

  &--slim::after {
    top: 22px;
    left: 29px;
    width: 35px;
    height: 49px;
    background-image: url("../img/vector/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    top: 35px;
    left: 10px;
    width: 67px;
    height: 28px;
    background-image: url("../img/vector/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.program__title {
  color: $gray-darker;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;
  margin: 0 0 0 70px;
}

.program__description {
  min-height: 64px;
  color: $gray;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  box-shadow: 0 1px 0 0 rgba(102, 102, 102, 0.1);
  padding-bottom: 22px;
  margin: 23px 0 20px 0;
}

.program__catalog {
  color: $gray-darker;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: rgba($gray-darker, 0.6);
  }

  &:active {
    color: rgba($gray-darker, 0.3);
  }
}

.program_icon-arrow {
  margin-left: 8px;
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    min-width: $tablet-width;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .program__item {
    margin-bottom: 30px;
    padding: 75px 0 60px 55px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      top: 90px;
      right: 61px;

      position: absolute;
      width: 200px;
      height: 200px;
    }

    &::after {
      left: auto;
    }

    &--slim::after {
      top: 78px;
      right: 92px;
      width: 141px;
      height: 194px;
    }

    &--pro::after {
      top: 134px;
      right: 28px;
      width: 268px;
      height: 113px;
    }
  }

  .program__title {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    text-align: left;
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
    box-shadow: none;
    margin-top: 25px;
    margin-bottom: 31px;
    min-height: 87px;

    &--slim {
      max-width: 375px;
    }

    &--pro {
      max-width: 340px;
    }
  }

  .program__catalog {
    font-size: 20px;
    line-height: 20px;
  }

  .program_icon-arrow {
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    max-width: $desktop-width;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .program__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .program__item {
    width: 39%;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 50px 50px 61px 50px;
    display: flex;
    flex-direction: column;

    &::before {
      top: 46px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }

    &::after {
      content: "";
      position: absolute;
    }

    &--slim::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--pro::after {
      top: 71px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }

  .program__title {
    margin-left: 164px;
    line-height: 100px;
  }

  .program__description {
    margin-top: 38px;
    padding-bottom: 16px;
    margin-bottom: 0;

    &--slim {
      max-width: 462px;
    }

    &--pro {
      max-width: 446px;
    }
  }

  .program__catalog {
    font-size: 20px;
    line-height: 20px;
  }
}
