.program {
  border: 1px solid $green;
}

.program__wrapper {
  width: $phone-width;
  margin-top: 20px;
  margin-bottom: 20px;
}

.program__item {
  position: relative;
  background-color: $gray-light;
  margin-bottom: 20px;
  padding: 22px 20px;

  &last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
  }

  &--slim::after {
    top: 22px;
    left: 29px;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    top: 35px;
    left: 10px;
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.program__title {
  color: $gray-darker;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  margin-left: 62px;
}

.program__description {
  color: $gray;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  box-shadow: 0 1px 0 0 rgba(102, 102, 102, 0.1);
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.program__catalog {
  color: $gray-darker;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.program_icon-arrow {
  width: 24px;
  height: 11px;
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    width: $tablet-width;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .program__item {
    margin-bottom: 30px;
    padding: 81px 312px 62px 55px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      top: 91px;
      right: 60px;

      position: absolute;
      width: 200px;
      height: 200px;
    }

    &::after {
      left: auto;
    }

    &--slim::after {
      top: 80px;
      right: 92px;
      width: 141px;
      height: 194px;
    }

    &--pro::after {
      top: 150px;
      right: 35px;
      width: 268px;
      height: 113px;
    }
  }

  .program__title {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    text-align: left;
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
    box-shadow: none;
    margin-top: 25px;
    margin-bottom: 61px;
  }

  .program__catalog {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    width: $desktop-width;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .program__list {
    display: flex;
  }

  .program__item {
    margin-bottom: 0;
    padding: 47px 56px 62px 52px;
    display: flex;
    flex-direction: column;
    width: 50%;

    &:first-child {
      margin-right: 40px;
    }

    &:last-child {
      margin-left: 40px;
    }

    &::before {
      top: 47px;
      left: 57px;
      right: auto;
      width: 100px;
      height: 100px;
    }

    &::after {
      content: "";
      position: absolute;
    }

    &--slim::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--pro::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }

  .program__title {
    margin-left: 150px;
    text-align: center;
    line-height: 100px;
  }

  .program__description {
    margin-top: 45px;
    margin-bottom: 37px;
  }

  .program__catalog {
    font-size: 16px;
    line-height: 24px;
  }
}



