.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__icon {
  fill: $icons-bg;

  &:hover {
    fill: rgba($button-green-hover-color, 0.6);
  }

  &:active {
    fill: rgba($button-green-hover-color, 0.3);
  }
}

.social__item {
  width: 21px;
  margin: 0 18px;

  @media (min-width: $tablet-width) {
    .social__item {
      margin-right: 25px;
    }

    .social__icon--vkontakte {
      width: 30px;
      height: 16px;
    }

    .social__icon--instagram {
      width: 23px;
      height: 23px;
    }

    .social__icon--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
