// Colors
$white: #ffffff;
$gray-light: #f2f2f2;
$gray: #444444;
$gray-dark: #222222;
$gray-darker: #111111;
$green: #68b738;

$icons-bg: #666666;

$button-gray-hover-color: #ededed;
$button-green-hover-color: #5eaa2f;
$border-color-hover: #cdcdcd;
$border-color-error: #ff8282;

// Device width
$phone-width: 320px;
$phone-width-only: 767px;
$tablet-width: 768px;
//$desktop-width: 1240px;
$desktop-width: 1300px;

// Fonts
$font-base: "Oswald", "Arial",  sans-serif;
$font-secondary: "Arial",  sans-serif;

// Indents
$phone-indents: 20px;
$tablet-indents: 30px;
$desktop-indents: 40px;

//Others
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
