body {
  margin: 0;
  padding: 0;
  min-width: $phone-width;
  font-family: $font-base;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $gray;
  background-color: $white;
}

img {
  //display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
